<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/mail.js') }}" defer></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <section id="home" class="container-fluid">
        <h1>Hi, I'm
            <span style="color: #cab1f1">Jakub Orzolek</span>.
        </h1>
        <h1>CS student at University of Leeds</h1>
    </section>

    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand nav-link" href="#home">Home</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#aboutMe">About Me</a></li>
                    <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="aboutMe" class="container-fluid text-center">
        <h2>About Me</h2>
        <div class="row align-items-center">
            <!-- Text on the left -->
            <div class="col-md-8">
                <p class="about-text">
                    I love solving complex problems, learning new languages, and building innovative projects that can 
                    make a difference. Whether it's Python, C, or exploring new frameworks, I am driven by a deep 
                    curiosity and enthusiasm for the world of coding.
                    <br><br>
                    In my free time, I'm a sports enthusiast, whether it's football, F1, or any other sport. I also
                    love playing instruments such as the guitar and piano, and I'm always keen on a new book to read.
                </p>
            </div>
            <!-- Photo on the right -->
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" class="img-fluid about-image" alt="Jakub Orzolek">
            </div>
        </div>
    </section>
    
    <section id="projects" class="container-fluid">
        <h2>Projects</h2>
        <div class="container">
            <div class="grid-container">
                <div class="projectContainer">
                    <img src="{{ url_for('static', filename='images/algVis.png') }}" class="projectImage" alt="Algorithm Visualizer">
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="projectText">Algorithm Visualizer</div>
                            <div class="projectText" style="color: #cab1f1">JavaScript</div>
                            <a class="projectButton" href="https://github.com/jakmate/AlgorithmVisualizer" target="_blank"
                                rel="noopener noreferrer">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="projectContainer">
                    <img src="{{ url_for('static', filename='images/GPX.png') }}" class="projectImage" alt="GPS journey tracker">
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="projectText">GPS Journey Tracker</div>
                            <div class="projectText" style="color: #cab1f1">Python/JavaScript</div>
                            <a class="projectButton" href="#" data-bs-toggle="modal" data-bs-target="#blockedModal">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="projectContainer">
                    <img src="{{ url_for('static', filename='images/weatherApp.png') }}" class="projectImage" alt="Weather App">
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="projectText">Weather App</div>
                            <div class="projectText" style="color: #cab1f1">Python</div>
                            <a class="projectButton" href="https://github.com/jakmate/WeatherApp" target="_blank"
                                rel="noopener noreferrer">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="projectContainer">
                    <img src="{{ url_for('static', filename='images/titanic.png') }}" class="projectImage" alt="Titanic Machine Learning">
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="projectText">Titanic Machine Learning</div>
                            <div class="projectText" style="color: #cab1f1">Python</div>
                            <a class="projectButton" href="https://www.kaggle.com/code/jakuborzolek/titanic-test" target="_blank"
                                rel="noopener noreferrer">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="projectContainer">
                    <img src="{{ url_for('static', filename='images/F1Vis.png') }}" class="projectImage" alt="F1 Data Vis">
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="projectText">F1 Data Vis</div>
                            <div class="projectText" style="color: #cab1f1">Python</div>
                            <a class="projectButton" href="https://github.com/jakmate/F1_2024_Review" target="_blank"
                                rel="noopener noreferrer">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="projectContainer">
                    <img src="{{ url_for('static', filename='images/sudokuSolver.png') }}" class="projectImage" alt="Sudoku Solver">
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="projectText">Sudoku Solver</div>
                            <div class="projectText" style="color: #cab1f1">C++</div>
                            <a class="projectButton" href="https://github.com/jakmate/SudokuSolverBacktracking"
                                target="_blank" rel="noopener noreferrer">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="projectContainer">
                    <img src="{{ url_for('static', filename='images/tttMinimax.png') }}" class="projectImage" alt="Tic Tac Toe Minimax">
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="projectText">Tic Tac Toe Minimax</div>
                            <div class="projectText" style="color: #cab1f1">Python</div>
                            <a class="projectButton" href="https://github.com/jakmate/TicTacToeMinimax" target="_blank"
                                rel="noopener noreferrer">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
       

    <section id="contact" class="container-fluid">
        <h2>Contact</h2>
        <form id="form" method="post" action="/sendMessage" onsubmit="submitForm(event)">
            {{ form.hidden_tag() }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <textarea class="form-control" id="message" name="message" rows="4"
                        placeholder="Enter message"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div id="response"></div>
        </form>
    </section>

    <!-- Bootstrap Modal for GPS Journey Tracker -->
    <div class="modal fade" id="blockedModal" tabindex="-1" aria-labelledby="blockedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="blockedModalLabel">Access Blocked</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            The code is only accessable with university account.
            Can request for code copy through email.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.net.min.js"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.js') }}"></script>
    <script src="{{ url_for('static', filename='js/activeTab.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <footer>
        <div class="d-flex justify-content-center align-items-center">
            <a href="#home" class="btt-icon">
                <img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Back to Home"
                    class="footer-btt-icon">
            </a>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p class="p-2 m-0">Jakub Orzolek
                <span style="color: #cab1f1">©2024</span>
            </p>
            <a class="p-2" href="https://www.linkedin.com/in/jakub-orzolek/" target="_blank"
                rel="noopener noreferrer">
                <div><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn"
                        class="footer-icon"></img>
                </div>
            </a>
            <a class="p-2" href="https://github.com/jakmate" target="_blank" rel="noopener noreferrer">
                <div><img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub"
                        class="footer-icon"></img></div>
            </a>
        </div>
    </footer>
</body>

</html>